:host {
    position: absolute;
    top: 45%;
    left: 50%;
    width: fit-content;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    .logo {
        @apply text-black;
        font-family: 'AppleTea';
        text-shadow: 0.01em .01em darkgray;
        font-size: 16rem;
        line-height: 0.6;
        transition: color 0.5s ease-in-out;

        &:hover {
            @apply text-neutral-900;
        }
    }
}