<div class="menu-container">
    <div class="menu-content">
        <ul>
            <li><a routerLink='/' title='DFMS' class='main'>DFMS</a></li>
            <li><a routerLink="/welcome" routerLinkActive="active">{{ 'Welcome' | translate }}</a></li>
            <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
            <li><a routerLink="/register" routerLinkActive="active">Register</a></li>
            <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        </ul>
    </div>
</div>